<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.easymail">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:path="/oauth2redirect"
                    android:scheme="com.example.android.easymail" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ResponseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditMessageActivity" />
        <activity android:name=".CustomListMessagesActivity" />

        <!-- service for pullling the entire messages ! -->
        <service
            android:name=".services.MessagesPullService"
            android:exported="false" />

        <activity android:name=".AllMessagesActivity" />

        <!-- stub content provider ! -->
        <provider
            android:name=".utils.StubContentProvider"
            android:authorities="com.example.android.easymail.provider"
            android:exported="false"
            android:syncable="true" />

        <!-- authenticator service ! -->
        <service android:name=".services.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- sync adapter service ! -->
        <service
            android:name=".services.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity android:name=".SelectedSenderMessagesActivity" />
        <activity android:name=".SearchByDateActivity" />
        <activity android:name=".CustomListMessageDetailActivity" />

        <receiver android:name=".utils.NotificationReceiver" />
        <receiver android:name=".utils.AlarmReceiver" />

        <service android:name=".services.NotificationService" />
        <service android:name=".services.WeeklyMessagesService" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".AlarmReceiverActivity" />
        <activity android:name=".AllAttachmentsActivity"></activity>
    </application>

</manifest>